.filter-bar {
    position: fixed;
    top: 56px;
    left: 230px;
    right: 0;
    height: 56px;
    z-index: 2000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 28px;
    padding-right: 54px;

}

.filter-button {
    z-index: 2001;
    padding: 8px 12px;
    background-color: rgb(39, 39, 39);
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.7px;
}

.filter-button-active {
    z-index: 2001;
    padding: 8px 12px;
    background-color: white;
    color: rgb(39, 39, 39);
    border: none;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
}