body {
    margin: 0;
    background-color: rgb(15, 15, 15);
    font-family: Roboto, Arial;
}

p,
h1,
h2,
h3,
h4 {
    margin: 0;
    color: white;
}

.top-blur-layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: calc(56px + 56px);
    background-color: rgba(15, 15, 15, 0.7);
    backdrop-filter: blur(28px);
    z-index: 1500;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}