.header {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 56px;
    z-index: 2000;
    justify-content: space-between;
}

.left-section-header {
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 9.5px;
}

.menu-3line-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 8px;
    margin-left: 7px;
    border-radius: 20px;
}

.menu-3line-container:hover {
    background-color: rgb(39, 39, 39);
}

.menu-3line {
    height: 24px;
    width: 24px;
}

.yt-logo-container {
    height: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 3px;
    cursor: pointer;
    min-width: 101px;
    padding: 18px 14px 18px 16px;
}

.premium-logo path {
    fill: white;
}

.ro-up {
    font-size: 10px;
    position: absolute;
    top: 12px;
    right: -3px;
    color: rgb(170, 170, 170);
}

.middle-section-header {
    flex: 1;
    max-width: 735px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar-container {
    display: flex;
    vertical-align: center;
    flex: 1;
    margin-left: 76px;
    padding-inline: 4px;
    height: 40px;
}

.search-input {
    flex: 1;
    border: 1px solid rgb(48, 48, 48);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 16px;
    padding-left: 16px;
    background-color: rgb(15, 15, 15);
    font-family: Roboto, Arial;
    color: white;
    width: 0;

}

.search-input:focus {
    outline: none;
    box-shadow: none;
}

.search-button {
    background-color: rgb(39, 39, 39);
    border: 1px solid rgb(48, 48, 48);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: -1px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.search-icon {
    height: 24px;
    width: 24px;
}

.voice-search-button {
    border: none;
    border-radius: 20px;
    background-color: rgb(39, 39, 39);
    display: flex;
    vertical-align: center;
    justify-content: center;
    padding: 8px 8px;
    margin-left: 12px;
    cursor: pointer;
}

.voice-search-button:hover {
    background-color: rgb(48, 48, 48);
}

.right-section-header {
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.add-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: rgb(39, 39, 39);
    border: none;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 16px;
    padding-block: 0;
    column-gap: 2px;
}

.add-button:hover {
    background-color: rgb(64, 64, 64);
}

.add-button span {
    font-size: 14px;
    line-height: 36px;
}

.add-icon {
    height: 24px;
    width: 24px;
    padding-right: 4px;
}

.notifications-container {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 20px;
}

.notifications-container:hover {
    background-color: rgb(39, 39, 39);
}

.notifications-icon {
    height: 24px;
    width: 24px;
}

.notifications-count {
    position: absolute;
    top: 5px;
    right: 3px;
    background-color: rgb(225, 0, 45);
    color: white;
    font-size: 12px;
    padding-inline: 5px;
    padding-block: 1px;
    border-radius: 10px;
    font-weight: bold;
}

.user-profile {
    height: 32px;
    width: 32px;
    border-radius: 16px;
    margin-right: 10px;
    margin-left: 14px;
    cursor: pointer;
}

@media (max-width: 654px) {

    .search-input {
        display: none;
    }

    .search-bar-container {
        margin: 0;
        justify-content: end;
    }

    .voice-search-button {
        margin: 0;
        background-color: rgb(15, 15, 15);
        flex: 0;
    }

    .middle-section-header {
        justify-content: end;
    }

    .search-button {
        flex: 0;
        border: none;
        border-radius: 20px;
        background-color: rgb(15, 15, 15);
        display: flex;
        vertical-align: center;
        justify-content: space-around;
        padding: 8px 8px;
        margin-left: 0;
        cursor: pointer;
    }

    .search-button:hover,
    .voice-search-button:hover {
        background-color: rgb(39, 39, 39);
    }

}