.header {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 56px;
    z-index: 2000;
    justify-content: space-between;
}

.left-section-header {
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 12px;
}

.menu-3line {
    height: 28px;
}

.yt-logo-container {
    height: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 3px;
}

.premium-logo path {
    fill: white;
}

.ro-up {
    font-size: 10px;
    position: absolute;
    top: -6px;
    right: -17px;
    color: rgb(170, 170, 170);
}

.middle-section-header {
    background-color: lightsalmon;
    flex: 1;
    max-width: 735px;
}

.right-section-header {
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.add-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: rgb(39, 39, 39);
    border: none;
    border-radius: 20px;
    padding-right: 18px;
    padding-block: 2px;
    font-weight: 500;
}

.add-icon {
    height: 32px;
    padding-right: 4px;
}

.notifications-container {
    position: relative;
}

.notifications-icon {
    height: 28px;
}

.notifications-count {
    position: absolute;
    top: 1px;
    right: -4px;
    background-color: rgb(225, 0, 45);
    color: white;
    font-size: 12px;
    padding: 1px 5px;
    border-radius: 10px;
}

.user-profile {
    height: 32px;
    width: 32px;
    border-radius: 16px;
    margin-right: 10px;
    margin-left: 14px;
}