body {
    margin: 0;
    background-color: rgb(15, 15, 15);
    font-family: Roboto, Arial;
}

p,
h1 {
    margin: 0;
    color: white;
}

.top-blur-layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    background-color: rgba(15, 15, 15, 0.7);
    backdrop-filter: blur(28px);
    z-index: 1500;
}

main {
    display: flex;
    padding: 24px;
    padding-top: calc(56px + 24px);
    padding-right: 24px;
}

.streaming-content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 24px;
}

.video-container {
    aspect-ratio: 16/9;
    border-radius: 12px;
}

.video {
    width: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 12px;
}

.video-title {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 12px;
}

.channel-stats-container {
    display: flex;
    margin-top: 12px;
}

.channel-subscribe-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.channel-container {
    min-width: 193px;
    display: flex;
    align-items: top;
}

.stats-container {
    flex: 1;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    gap: 12px;
}

.channel-profile {
    width: 52px;
    height: 42px;
}

.channel-profile-img {
    width: 40px;
    height: 40px;
    border-radius: 20px;

}

.channel-details {
    display: flex;
    flex-direction: column;
}

.subscribe-button {
    width: 110px;
    height: 36px;
    background-color: white;
    border: none;
    border-radius: 18px;
    font-weight: 500;
}

.channel-name {
    font-size: 16px;
    font-weight: bold;
}

.channel-subscribers {
    font-size: 12px;
}

.video-description {
    background-color: rgb(39, 39, 39);
    margin-top: 12px;
    padding: 12px;
    border-radius: 12px;
}

.video-description p {
    margin: 8px;
}

.video-description strong {
    color: white;
}


.stats-container {
    display: flex;
    justify-content: end;
    align-items: center;
}

.like-dislike-container {
    display: flex;
}

.like-button,
.dislike-button,
.stream-vid-button,
.stream-3l-button {
    background-color: rgb(39, 39, 39);
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.stream-vid-button,
.stream-3l-button {
    padding-block: 6px;
    border-radius: 18px;
}

.stream-vid-button {
    padding-inline: 12px;
}

.like-button,
.dislike-button {
    padding-block: 6px;
}

.like-button-svg,
.dislike-button-svg,
.stream-button-svg,
.stream-3l-button-svg {
    height: 24px;
    width: 24px;
    margin: 0;
    padding: 0;
}


.dislike-button-svg {
    padding-left: 10px;
}

.like-button-svg {
    padding-right: 6px;
}

.like-button {
    padding-left: 12px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.dislike-button {
    padding-right: 18px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.hide-stg1,
.hide-stg2,
.hide-stg3,
.hide-stg4 {
    display: none;
}

@media (max-width: 695px) {
    .channel-stats-container {
        flex-direction: column;
        gap: 12px;
    }

    .stats-container {
        justify-content: start;
    }

    .hide-stg3,
    .hide-stg4 {
        display: flex;
    }
}

@media (max-width: 576px) {
    .hide-stg3 {
        display: none;
    }
}