main {
    padding-top: calc(56px + 56px);
    padding-left: 230px;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/*.thumbnail-container {}*/

.thumbnail-image-container {
    width: 100%;
    height: 100%;
}

.thumbnail-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 12px;
}

.video-details {
    display: grid;
    grid-template-columns: 50px 1fr 24px;
    align-items: top;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.video-options {
    width: 100%;
}